{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div class="page-list">
    {{ range .Paginator.Pages }}
      <article class="page-card">
          <div class="card-image">
  {{ with .Params.cover }}
            <img src="{{ . }}" alt="Cover for {{ .LinkTitle }}" class="novel-cover" loading="lazy">
          {{ end }}          </div>
        <h2 class="novel-title">
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </h2>
      </article>
    {{ end }}
  </div>

  <div class="column is-narrow">
    {{ partial "widgets/pagination.html" . }}
  </div>
{{ end }}
